- set_meta_data(title: "Change Your Password")
= bootstrap_row do
  = bootstrap_column(size: {md: 4}, offset: {md: 4}) do
    = bootstrap_page_header do
      %h1 Change Your Password
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .form-inputs
        = f.input :password, label: "Your New Password", required: true, autofocus: true, placeholder: "Enter your new password"
        = f.input :password_confirmation, label: "Confirm Your New Password", required: true, placeholder: "Enter your new password again to confirm"
      .form-actions
        = f.button :submit, "Change Password", class: "btn btn-primary btn-lg btn-block"
    = render "devise/shared/links"