!!!
%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		/[if lt IE 9]
			%script{src: "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
			%script{src: "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
		= csrf_meta_tags
		= render "layouts/meta"
	%body{class: page_class}
		= render "layouts/nav"
		.container-fluid
			= bootstrap_row do
				- sidebar_width = content_for?(:sidebar) ? 2 : 0
				- content_width = 12 - sidebar_width
				= bootstrap_column(size: {md: content_width}, offset: {md: sidebar_width}) do
					= render "layouts/header"
					= content_for?(:content) ? yield(:content) : yield
				- if content_for?(:sidebar)
					= bootstrap_column(size: {md: sidebar_width}, class: "sidebar") do
						= yield(:sidebar)
		= render "layouts/footer"
		/ Javascript
		= javascript_include_tag 'application', 'data-turbolinks-track' => true